canvas { 
    background:url('https://demo.tutorialzine.com/2013/10/css3-features-you-can-finally-use/assets/img/space.jpg');
    transition:background-position 1s;
    background-size:cover;
    position: relative;
    margin: auto;
    /*width: 600px;
    height: 400px;*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
div{
    background: #eee; 
    top: 0;
    bottom: 0;
    left: 20px;
    margin: auto;
    width: 200px;
    height: 400px;
    position: absolute;
}
